@import 'tailwindcss';

@font-face {
	font-family: "Archivo";
	src: url("/fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
}

@theme {
	--font-primary: "Archivo";
}

@layer base {
	html {
		@apply bg-zinc-900 text-white font-primary;
	}
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
