@import 'tailwindcss';

@font-face {
	font-family: "Archivo";
	src: url("/fonts/Archivo-VariableFont_wdth,wght.ttf") format("truetype");
}

@theme {
	--font-primary: "Archivo";
}

@layer base {
	html {
		@apply bg-zinc-900 text-white font-primary;
	}
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.do {
	@apply outline-[0.01px] -outline-offset-1 outline-lime-400/50 outline-dashed;
	@apply bg-lime-400/5;
}
